@import "./imports/_normalize.scss";
// Don't touch
@import "./imports/_form-exercise.scss";
@import "./imports/_ui-tabs.scss";

body{
  font-family: sans-serif;
}
*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

#app-container{
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
  line-height: 1.5;
  a {
    color: #1976D2;
  }
}
